@font-face {
  font-family: "custom";
  src: url(http://www.example.org/mycustomfont.ttf) format("truetype");
}
  body{
  margin:0;
  padding: 0;
  background-color: #444444;
 background-image: url(.//resourse/Texture.png);

}
.burg{
  display: flex;
  justify-content: center;
  margin-top: 150px;
  height: 220px;
}
.toptext{
  display: flex;
  flex-direction: column-reverse;
  align-items:center;
  position: relative;
  bottom: 420px;
  font-size: 50px;
  max-width: 1600px;
  margin-left: 80px;
  font-family: 'Yellowtail', cursive;
  color: aliceblue;
  text-align: justify;
  line-height: 50px;
  max-height: 200px;

 
}
.toptext h3{
  max-width: 300px;
  max-height: 60px;
}
.toptext span{
   color: rgb(228, 66, 66);
   font-size: 60px;
   font-family: 'Arvo', serif;
   position: relative;
   right: 80px;
}
 .button4{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  border-radius: 18px;
  position: relative;
  bottom: 40px;
  left: 40px;
  background-color:whitesmoke;
  box-shadow: 5px 5px #5f5f5f;
  font-family: 'Oswald', sans-serif;
  color: brown;
  cursor: pointer;
}
.button4 a{
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: brown;
  max-width: 30px;
  max-height: 20px;

}
.icons{
  max-width: 130px;
  position: relative;
  left: 40px;
  bottom: 30px;
}
.site{
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-right: 30px;
  bottom: 150px;
  font-size: 30px;
  font-family: 'Arvo', serif;
  color: aliceblue;

}

@media only screen and (max-width: 600px) {
  .toptext{
    display: flex;
    flex-direction: column-reverse;
    align-items:center;
    bottom: 480px;
    font-size: 30px;
    max-width: 200px;
    margin-left: 140px;
    font-family: 'Yellowtail', cursive;
    color: aliceblue;
    text-align: justify;
    line-height: 50px;
    max-height: 100px;
  }
  .toptext span{
    color: rgb(228, 66, 66);
    font-size: 30px;
    font-family: 'Arvo', serif;
    position: relative;
    right: 40px;
 }
 .burg img{
  margin-top: 10px;
  width: 360px;
  height: 320px;
}
.icons{
  max-width: 250px;
  margin-top: 70px;
  margin-left: 80px;
  bottom: 20px;
}
.button4{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  border-radius: 18px;
  position: relative;
  bottom: 10px;
  left: 100px;
  background-color:whitesmoke;
  box-shadow: 5px 5px #5f5f5f;
  font-family: 'Oswald', sans-serif;
  color: brown;
  cursor: pointer;
}

}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  .toptext{
    display: flex;
    flex-direction: column-reverse;
    align-items:center;
    bottom: 310px;
    font-size: 50px;
    max-width: 200px;
    margin-left: 300px;
    font-family: 'Yellowtail', cursive;
    color: aliceblue;
    text-align: justify;
    line-height: 50px;
    max-height: 100px;
  }
  .toptext span{
    color: rgb(228, 66, 66);
    font-size: 60px;
    font-family: 'Arvo', serif;
    position: relative;
    right: 40px;
 }
 .burg img{
   max-width: 700px;
  margin-top: 10px;
  width: 610px;
  height: 500px;
}
.icons{
 
  margin-top: 20px;
  margin-left: 260px;
  bottom: 60px;
}
.button4{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  border-radius: 18px;
  position: relative;
  margin-top: 370px; 
  left: 260px;
  background-color:whitesmoke;
  box-shadow: 5px 5px #5f5f5f;
  font-family: 'Oswald', sans-serif;
  color: brown;
  cursor: pointer;
}

}

@media only screen and (max-width: 376px){

  .toptext{
    display: flex;
    flex-direction: column-reverse;
    align-items:center;
    bottom: 340px;
    font-size: 30px;
    max-width: 200px;
    margin-left: 90px;
    font-family: 'Yellowtail', cursive;
    color: aliceblue;
    text-align: justify;
    line-height: 50px;
    max-height: 100px;
  }
  .toptext span{
    color: rgb(228, 66, 66);
    font-size: 30px;
    font-family: 'Arvo', serif;
    position: relative;
    right: 40px;
 }
 .burg img{
   max-width: 700px;
  margin-top: 10px;
  width: 350px;
  height: 300px;
}
.icons{
 
  margin-top: 60px;
  margin-left: 100px;
  bottom: 60px;
}
.button4{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  border-radius: 18px;
  position: relative;
  margin-top: 700px; 
  left: 10px;
  background-color:whitesmoke;
  box-shadow: 5px 5px #5f5f5f;
  font-family: 'Oswald', sans-serif;
  color: brown;
  cursor: pointer;
}

}


@media only screen and (max-width: 600px) {
  .toptext{
    display: flex;
    flex-direction: column-reverse;
    align-items:center;
    bottom: 350px;
    font-size: 30px;
    max-width: 200px;
    margin-left: 150px;
    font-family: 'Yellowtail', cursive;
    color: aliceblue;
    text-align: justify;
    line-height: 50px;
    max-height: 100px;
  }
  .toptext span{
    color: rgb(228, 66, 66);
    font-size: 30px;
    font-family: 'Arvo', serif;
    position: relative;
    right: 20px;
 }
 .burg img{
  margin-top: 80px;
  width: 310px;
  height: 200px;
}
.icons{
  margin-left: 100px;
  position: absolute;
  margin-top: 100px;
  
}
.button4{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  border-radius: 18px;
  position: absolute;
  margin-bottom: 110px;
  left: 150px;
  background-color:whitesmoke;
  box-shadow: 5px 5px #5f5f5f;
  font-family: 'Oswald', sans-serif;
  color: brown;
  cursor: pointer;
}

}